.header__auth {
  border: 1px solid #FFF;
  border-radius: 100px;
  color: inherit;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 12px;
  background: none;
}
@media screen and (max-width: 1024px){
  .header__auth{
    font-size: 16px;
    padding: 8px 12px;
  }
}
@media screen and (max-width: 767px) {
  .header__auth{
    padding: 17px 74px;
    margin-top: 24px ;
  }
}
