.header__nav {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  align-items: center;
}
@media screen and (max-width: 1024px){
  .header__nav{
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
   .header__nav{
     display: none;
     flex-direction: column;
     align-items: flex-end;
     line-height: 56px;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: #1A1B22;
     z-index: 10;
     margin-top: 50px;
     padding: 0 16px 24px;
     border-radius: 0 0 16px 16px ;
   }
}
@media screen and (max-width: 420px) {
  .header__nav{
    align-items: flex-start;
  }
}
