.articles__picture {
  width: 100%;
  height: 272px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .articles__picture {
    height: 150px;
  }
}
@media screen and (max-width: 500px) {
  .articles__picture {
    height: 196px;
  }
}
